
body {
    background-color: darkred;
}

.main {
    text-align: center;
    margin-top: 200px;
}

.slider {
    font-family: "Lobster", "Times New Roman";
    padding-left: 5px;
}

.main h1 {
    font-family: "Lobster", "Times New Roman";
}

.clockface {
    font-family: "Bungee Inline", "Times New Roman";
}

.timerface {
    font-family: "Bungee Inline", "Times New Roman";
}

.datedisplay {
    font-family: "Bungee Inline", "Times New Roman";
}

.menu {
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

.menu a {
    color: black;
    text-decoration: none;
}

.arrow {
    cursor: pointer;
    margin-bottom: 0px;
}

.button {
    cursor: pointer;
    display: inline;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

.buttonOver {
    background-color: grey;
}

.stopwatch-ctrl {
    display: grid;
    grid-template-columns: 10% 10%;
    grid-gap: 50px;
    justify-content: center;
    text-align: center;
}

.hidden {
    display: none;
}

.main h1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 190px;    
}

.laps {
    text-align: center;
}