body {
    background-color: darkred;
}

.main {
    text-align: center;
    margin-top: 200px;
}

.main h1 {
    font-family: "Lobster", "Times New Roman";
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 190px;
}

.slider {
    font-family: "Lobster", "Times New Roman";
    padding-left: 5px;
}


.clockface {
    font-family: "Bungee Inline", "Times New Roman";
}

.timerface {
    font-family: "Bungee Inline", "Times New Roman";
    margin: 5px;
}

.datedisplay {
    font-family: "Bungee Inline", "Times New Roman";
}

.laps {
    font-family: "Bungee Inline", "Times New Roman";
    font-size: 14px;
    text-align: center;
}

.laps h2 {
    margin: 2px;
}
.menu {
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

.menu a {
    color: black;
    text-decoration: none;
}

.arrow {
    cursor: pointer;
    margin-bottom: 0px;
}

.button {
    font-family: "Poppins", "Times New Roman";
    cursor: pointer;
    display: inline;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    moz-user-select: -moz-none;
    khtml-user-select: none;
    webkit-user-select: none;
    ms-user-select: none;
    user-select: none;
}

.buttonOver {
    background-color: grey;
}

.buttonArrowT {
    padding-top: 20px;
}

.buttonArrowB {
    padding-bottom: 40px;
}

.stopwatch-ctrl {
    display: grid;
    grid-template-columns: 10% 10%;
    grid-gap: 50px;
    justify-content: center;
    text-align: center;
}

.hidden {
    display: none;
}


.message {
    text-align: center;
    font-family: "Lobster", "Times New Roman";
}

#reset {
    display: none;
    margin-top: 40px;
}