
body {
    background-color: darkred;
}

.main {
    text-align: center;
    /*margin-top: 200px;*/
}

.slider {
    font-family: "Lobster", "Times New Roman";
    padding-left: 5px;
}

.main h1 {
    font-family: "Lobster", "Times New Roman";
}

.clockface {
    font-family: "Bungee Inline", "Times New Roman";
}

.menu {
    display: none;
    overflow: hidden;
}

.arrow {
    cursor: pointer;
    margin-bottom: 0px;
}